<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS2340B_Team33DungeonCrawler">
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewmodels.StartGame"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".viewmodels.Room1"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".viewmodels.Room2"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".viewmodels.Room3"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".viewmodels.EndScreen"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".viewmodels.GameOverScreen"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>